.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
debian/autoreconf.*
debian/files
debian/tmp
debian/*.log
debian/*.substvars
debian/xserver-xorg-video-armada-dbg
debian/xserver-xorg-video-armada
debian/xserver-xorg-video-armada-etnadrm
debian/xserver-xorg-video-armada-etnaviv
debian/xserver-xorg-video-armada-vivante
libtool
m4
*.4
*.la
*.lo
*.orig
*.rej
*.swp
*~
\#*#
stamp-*
